.button {
    background-color: var(--color-surface);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    height: 48px;
    padding: 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: color .10s ease-in-out, background-color .10s ease-in-out;
}

.button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.button:focus-visible {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.button:has(> span) {
    min-width: 150px;
}

.button > span {
    font-size: 1.1rem;
    font-weight: 600;
}

.button > svg {
    padding: 10px;
}