.button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    transition: color .10s ease-in-out, background-color .10s ease-in-out;
}

.button.ghost {
    color: var(--color-text);
}

.button.ghost:hover,
.button.ghost:focus-visible {
    color: var(--color-primary);
}

.button.primary {
    background-color: var(--color-surface);
    color: var(--color-text);
}

.button.secondary {
    background-color: var(--color-surface);
    color: var(--color-text);
}

.button.primary:hover,
.button.primary:focus-visible {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.button.secondary:hover,
.button.secondary:focus-visible {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.button.small {
    min-width: 42px;
    height: 42px;
    border-radius: 8px;
}

.button.medium {
    min-width: 48px;
    height: 48px;
    border-radius: 12px;
}

.button:has(> span) {
    min-width: 150px;
}

.button > span {
    font-size: 1.1rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 125px;
    max-width: 200px;
    padding: 0 10px;
}

.button > svg {
    padding: 10px;
}