.details-section {
	color: var(--color-text);
	margin-top: 32px;
}

.details-container {
	margin: 0 4%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: clamp(8px, 2vw, 24px);
}

.img-container {
	height: 0;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	/* max-height: 420px; */
}

.page-title {
	font-size: 1.6rem;
	margin-bottom: 24px;
}

.detail-item-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 24px;
	margin: 0;
}

.detail-item {
	display: flex;
	flex-direction: column;
	gap: 6px;
	/* margin-bottom: 24px; */
}

.overview {
	margin-bottom: 24px;
}

.detail-title {
	font-size: .9rem;
	font-weight: 200;
	margin: 0;
}

.detail {
	max-width: 60ch;
}

@media (max-width: 570px) {
	.details-container {
		grid-template-columns: 1fr;
	}

	.img-container {
		height: 420px;
	}

	.page-title {
		margin-top: 24px;
	}

	.detail-item-list {
		grid-template-columns: 1fr 1fr;
	}
}
