.details-section {
	color: var(--color-text);
	margin-top: 48px;
}

.details-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: clamp(8px, 2vw, 24px);
}

.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {
	width: auto;
	max-height: 420px;
}

.page-title {
	font-size: 1.6rem;
	margin-bottom: 24px;
}

.detail-item-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}

.detail-item {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-bottom: 24px;
}

.detail-title {
	font-size: .9rem;
	font-weight: 200;
	margin: 0;
}

@media (max-width: 640px) {
	.detail-item-list {
		grid-template-columns: 1fr;
	}

	.detail-item {
		margin-bottom: 12px;
	}
}

@media (max-width: 530px) {
	.details-container {
		grid-template-columns: 1fr;
	}

	.detail-item-list {
		grid-template-columns: 1fr 1fr;
	}

	.detail-item {
		margin-bottom: 12px;
	}
}
