.header {
    position: relative;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 16px clamp(12px, 1.5%, 1.5%);
    z-index: 100;
    pointer-events: none;
    box-sizing: border-box;
}

.topbar-left {
    flex: 1;
}

.topbar-left > .logo {
    display: block;
    height: 46px;
    width: 46px;
    pointer-events: auto;
}

.topbar-left > .logo > svg {
    height: 100%;
    width: 100%;
}

.topbar-center {
    background-color: var(--color-surface);
    position: relative;
    display: flex;
    gap: 4px;
    width: 100%;
    max-width: 550px;
    height: 48px;
    border-radius: 12px;
    pointer-events: auto;
}

.topbar-center > .search {
    color: var(--color-text);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-radius: 12px;
    box-sizing: border-box;
    transition: background-color .10s ease-in-out, color .10s ease-in-out;
}

.topbar-center > .search:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}


.topbar-center > .search > svg {
    width: 22px;
    padding: 0 12px 0 4px;
}

.topbar-center > .search > input {
    flex: 1;
    font-size: 1.1rem;
    font-weight: 600;
}

.topbar-center > .search > input::placeholder {
    color: var(--color-text-placeholder);
}

.topbar-center > .search:has(> input:focus) {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.topbar-center > .droparea {
    position: absolute;
    top: 64px;
    width: 100%;
    max-height: calc(100vh - (2 * 80px));
    clip-path: inset(0 0 0 0 round 12px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff #dd0000;
}

.topbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.topmovie {
    display: flex;
    align-items: end;
    height: 84vh;
    margin-bottom: 42px;
}

.topmovie-backdrop {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.topmovie-backdrop::before {
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--color-background) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.topmovie-backdrop > img {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.topmovie-content {
    color: var(--color-text);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px 32px;
    width: 100%;
    margin: 0 4%;
}

.topmovie-content > .info {
    flex: 1 1 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 650px;
}

.topmovie-content > .info > .title {
    font-size: 1.8rem;
    font-weight: 700;
}

.topmovie-content > .info > .synopsis {
    font-size: 1.1rem;
}

.topmovie-content > .action {
    display: flex;
    align-items: center;
    gap: 12px;
}