.section-title {
	font-size: 1.2rem;
	color: var(--color-text);
	margin-bottom: 16px;
	margin-left: 4%;
}

.movies-list-one-line {
	display: flex;
	gap: 16px;
	padding: 0;
	overflow-x: auto;
	scrollbar-width: none;
	padding: 10px 4%;
}

.movies-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 16px;
	padding: 0 4%;
}

.movie-item-fixed-width {
	min-width: 300px;
}

@media (any-pointer: coarse) {
	.movies-list-one-line {
		scroll-snap-type: x mandatory;
	}

	.movie-item-fixed-width {
		scroll-snap-align: center;
	}
}
