.question-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 24px;
}

.question-title {
	color: var(--color-text);
	font-size: 1.1rem;
	margin-bottom: 24px;
}

.flex-container {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 24px;
}

.img-container {
	width: 40%;
	min-height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-background);
	border-radius: 8px;
}

.question-options {
	width: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
	margin: 0;
}

.question-button {
	width: 100%;
	min-height: 42px;
	border-radius: 8px;
	font-size: 1rem;
	background-color: var(--color-surface-light);
	color: var(--color-text);
	border: 2px solid var(--color-surface-light);
	cursor: pointer;
	transition: color .10s ease-in-out, border .10s ease-in-out, background .10s
		ease-in-out;
	outline: none;
}

.question-button:hover:not(.correct):not(.incorrect) {
	color: var(--color-accent);
}

.correct {
	color: var(--color-accent);
	border: 2px solid var(--color-accent);
	cursor: default;
}

.incorrect {
	color: var(--color-text-placeholder);
	background-color: var(--color-background);
	border: 2px solid var(--color-background);
	cursor: default;
}

@media (max-width: 920px) {
	.question-options {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 660px) {
	.flex-container {
		flex-direction: column;
	}

	.img-container {
		width: 100%;
	}

	.question-options {
		width: 100%;
	}
}
